<% include ./partials/header %>
    <div class="container">

      <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading text-center">Please Login</h2>
        <label for="inputUserName" class="sr-only">Username: </label>
        <input type="text" id="inputUserName" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password: </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <p></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      <hr>
      <div class="text-center">
          <p>New to Photo Memory? <a href="/register">Please Sign Up</a></p>
  </div>
    </div> <!-- /container -->
  
<% include ./partials/footer %>

