<% include ../partials/header %>

    <div class="row">
        <div class="col-md-6 text-center">
                <img id="profile" class="rounded img-thumbnail" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/21752251_272259206618838_5840418477891081154_n.jpg?oh=6e4c22905a4fabf99f5e5d1b9d720ee6&oe=5A6B7BA7">
        </div>
        <div class="col-md-6">
             <h1>About</h1>
             <p>
                  Thank you for being part of PMer!
             </p>
             <p>
                The idea of this website is to provide a platform to share
                <strong>one photo one day with one memory</strong>. We might 
                take tons of photos for one event, one place, one person, etc.
                However, there must be one and the only that becomes our favorite.
                Each photo is a memory chip connecting the future and the past. 
                Brain memories might fade but photo memories last. Hope you enjoy 
                exploring and sharing your own photo momories. 
             </p> 
             <hr>
             <h1>Me</h1>
             <p>
                 My passion for coding started from my first Computer Science class in 7th grade, I still remember the joy and excitement that programming brought to me when then I solved quadratic equations using Visual Basic(VB). The desire to learn coding has grown stronger since I relocated to San Jose, CA in 2015. After 3 years working in finance industry, I said to myself:"It is time to make a change and explore something new!" I have enrolled for CS classes and self-studied for the past year. The education and hands-on project experience have well prepared me for web development. Currently I am seeking for front-end/full-stack job opportubities, please feel free to reach me at jian.yu1208@gmail.com.<i class="fa fa-smile-o" aria-hidden="true"></i>
             </p>
            <hr>
            <h1 >Skills/Tools/Frameworks</h1>
            <ul >
                <strong>Computer Languages: </strong>JavaScript, Python, Java, SQL 
                <br>
                <strong>Databases: </strong>MongoDB, Oracle, MySQL, SQLite, PostgreSQL, MsSQL
                <br>
                <strong>Technologies: </strong>HTML5, CSS3, Bootstrap, Node.js, React, Redux, React-DOM, Express, Webpack,
                Babel, jQuey, AJAX, ES6/ES5, D3, RESTful API, AWS RDS/Lambda/EC2/S3, Heroku, git, Bash 
                <br>
                <strong>Operating Systems: </strong>Linux, Windows, OS X
            </ul>
        </div>
    </div>  
           

<% include ../partials/footer %>
