<% include ../partials/header %>
<div class="container">
<h1><strong>Terms of Service of </strong> Jian Yu PM Inc.™</h1>
<hr>
<p>Jian Yu PM Inc. reserves the right to monitor or audit your compliance with these terms and to 
update these Terms from time to time. The following activities are prohibited from this website:
</p>
<p>1. Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive 
or active information collection or transmission mechanism, including without limitation, clear 
graphics interchange formats (“gifs”), 1×1 pixels, web bugs, cookies, or other similar devices 
(sometimes referred to as “spyware” or “passive collection mechanisms” or “pcms”).
</p>

<p> 2. Upload or transmit (or attempt to upload or to transmit) any materials including, but not 
limited to, text, graphics, photographs, graphs, sounds, data, images that are inappropriate, indencent, 
pornographic, offensive. 
</p>
<p>
    3. Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, 
    including excessive use of capital letters and spamming (continuous posting of repetitive text), 
    that interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, 
    disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the 
    Site.
</p>
<p>
    4. Systematically retrieve data or other content from the Site to create or compile, directly or 
    indirectly, a collection, compilation, database, or directory without written permission 
    from us.
</p>
<p>
    5. Make any unauthorized use of the Site, including collecting usernames and/or email addresses of 
    users by electronic or other means for the purpose of sending unsolicited email, or creating 
    user accounts by automated means or under false pretenses.
</p>
<p>
    6. Circumvent, disable, or otherwise interfere with security-related features of the Site, including features 
    that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained therein.
</p>
<p>
    7. Engage in unauthorized framing of or linking to the Site.
</p>
<p>
    8. Make improper use of our support services or submit false reports of abuse or misconduct.
</p>
<p>
    9. Attempt to impersonate another user or person or use the username of another user.
</p>
<p>
    10. Use any information obtained from the Site in order to harass, abuse, or harm another person.
</p>
<p>
    11. Decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way
    making up a part of the Site.
</p>
<p>
    12. Delete the copyright or other proprietary rights notice from any Content.
</p>
<p>
    13. Use the Site in a manner inconsistent with any applicable laws or regulations.
</p>
<p>Thank you!!!</p>
<p>Sincerely,</p>
<p>Jian Yu</p>
</div>
<% include ../partials/footer %>